# Bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# System files
.DS_Store
Thumbs.db

# IDE settings (optional but common)
.idea/

# Temp and test files
*.old

# Data files
*.csv
*.docx
~$*

# Secrets
*.env
data/ 

#zips
*.zip